<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Gobeletdex</title>
</head>
<body>
<div class="pokedex">

    <!-- Background -->
    <img src="/img/background.jpg" alt="Pokedex">

    <div class="ecran">
        <h1 class="pokemon">Gobeletdex</h1>

        <div class="filter-actions">
            <!-- Filtre -->
            <form method="get" class="filter-form">
                <select name="type">
                    <option value="">Tous</option>
                    <option value="MAMMIFERE">Mammifères</option>
                    <option value="REPTILE">Reptiles</option>
                    <option value="POISSON">Poissons</option>
                    <option value="OISEAU">Oiseaux</option>
                </select>

                <button type="submit" class="btn">Filtrer</button>
            </form>

            <a class="btn-add" th:href="@{/create}" title="Ajouter">+</a>
        </div>

        <!-- Liste -->
        <table class="pokedex-table">
            <tbody>
            <tr th:each="gobelet : ${gobelets}">
                <td class="col-id" th:text="${gobelet.id}">1</td>
                <td class="col-name">
                    <a th:href="@{/gobelet/{id}(id=${gobelet.id})}" th:text="${gobelet.nom}">Gecko</a>
                </td>
                <td class="col-actions">
                    <div class="action-cell">
                        <!-- Modifier : GET -->
                        <a class="icon-btn edit-btn" th:href="@{/gobelet/edit/{id}(id=${gobelet.id})}" title="Modifier">✏️</a>

                        <!-- Supprimer : POST -->
                        <form th:action="@{/gobelet/delete/{id}(id=${gobelet.id})}" method="post">
                            <button class="icon-btn delete-btn" type="submit" title="Supprimer">🗑️</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>