<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Liste</title>
</head>
<body>
<div class="pokedex">

    <!-- Background -->
    <img src="/img/background.jpg" alt="Pokedex">

    <div class="ecran">
        <h1 class="pokemon">Gobeletdex</h1>

        <div class="filter-actions">
            <!-- Filtre -->
            <form class="filter-form" method="get">
                <select name="type">
                    <option value="">Tous</option>
                    <option th:each="type : ${types}"
                            th:value="${type.typeId}"
                            th:text="${type.name}"
                            th:selected="${type.typeId == typeId}">
                    </option>
                </select>

                <button class="btn" type="submit">Filtrer</button>
            </form>

            <a class="btn-add" th:href="@{/create}">+</a>
        </div>

        <!-- Liste -->
        <table class="pokedex-table">
            <tbody>
            <tr th:each="gobelet, statut : ${gobelets}">
                <td class="col-id" th:text="${gobelet.gobeletId}"></td>
                <td class="col-name">
                    <a th:href="@{/gobelet/{id}(id=${gobelet.gobeletId})}"
                       th:text="${gobelet.nom}">
                    </a>
                </td>
                <td class="col-actions">
                    <div class="action-cell">

                        <!-- Modifier : GET -->
                        <a class="icon-btn edit-btn" th:href="@{/gobelet/edit/{id}(id=${gobelet.gobeletId})}">✏️</a>

                        <!-- Supprimer : POST -->
                        <form th:action="@{/gobelet/delete/{id}(id=${gobelet.gobeletId})}" method="post">
                            <button class="icon-btn delete-btn" type="submit">🗑️</button>
                        </form>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>